In [1]:
import pandas as pd

In [3]:
temp = pd.read_excel("G:/내 드라이브/sync DeskTop-LapTop (2024.08)/files/data/표시과목별 의원현황/시군구별_표시과목별_의원_현황_20240826070312.xlsx")

e:\Program Files (x86)\python\Python312\myenv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [4]:
temp.head()

  시군구별(1) 시군구별(2) 표시과목별(1)        시점   데이터
0      서울      소계        계  2022.1/4  9264
1     NaN     NaN      NaN  2022.2/4  9359
2     NaN     NaN      NaN  2022.3/4  9434
3     NaN     NaN      NaN  2022.4/4  9467
4     NaN     NaN      NaN  2023.1/4  9539

In [5]:
temp.to_csv("G:/내 드라이브/sync DeskTop-LapTop (2024.08)/files/data/표시과목별 의원현황/hospitals.csv")